.bannerContainer{
  width: 100%;
  display: flex;
}


.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 128px 16px;
  background-color: #ff9966;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 300px;
  
}

.banner img{
  width: 256px;
  height: 256px;

}

h1{
  font-size: 3rem;
  font-weight: 500;
}

h2{
  font-size: 2.125rem;
}

@media(width <= 600px) {
  h1{
    font-size: 2.125rem;
  }

  h2{
    font-size: 1.125rem;
  }
  
}